/* Color pallete*/
:root {
  --white: #fff;
  --black: #000;
  --primary: #3f1661cc;
  --secundario: rgb(241, 156, 87);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: "Glory", sans-serif;
}

.nametitle {
  font-size: 2rem;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Protest Guerrilla", sans-serif;
}
.nametitle span {
  color: rgb(132, 75, 185);
  font-size: 2em;
}

.container {
  max-width: 120rem;
  margin: 5px auto 0px auto;
  /* o margin-top: 20px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;*/
}
.nav-bg {
  background-color: var(--white);
}

.main-nav {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.main-nav a {
  color: var(--primary);
  text-decoration-line: none;
  font-size: 2rem;
  font-weight: 600;
}

.main-nav a:hover {
  color: var(--secundario);
}

@media (max-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
  }
}

.main-info {
  position: relative;
  background-image: url(../Images/portfolio/f8.jpg);
  background-size: 65rem;
  height: 600px;
  background-repeat: no-repeat;
}

.main-info-content {
  position: absolute;
  /*background-color: #140f0fb7;*/
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-info-content h3,
.main-info-content a,
.main-info-content p {
  margin: 20px 0px 0px 600px;
  font-size: 3rem;
}
.main-info-content h2 {
  margin: 20px 0px 0px 600px;
  font-size: 3.5rem;
  font-style: oblique;
  text-transform: uppercase;
}

.location-icon p {
  margin: 20px 0px 0px 600px;
  font-size: 2rem;
}
.location-icon svg {
  margin: 20px 0px 0px 600px;
}
